body{
    background-color: #333333;
    color: azure;
    text-align: center;

}

.content{
    width: 500px;
    margin: 50px auto; 
    display: flex;
    flex-direction: column;
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
    font-size: 50px;
    text-align: center;

}

.counter{
    width: 120px;
    margin: 50px auto; 
    font-size: 30px;
    font-family: 'Fredericka the Great', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}